<a href="https://colab.research.google.com/github/anudeeplo3/..2205a42L03/blob/main/anudeep_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount Google **Drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

import required **libraries**

In [2]:
import numpy as np
import math as mt
import random
import pandas as pd

**load data**

In [10]:
social = pd.read_csv("/content/drive/MyDrive/social.csv")
social.head()

  Social Media  Gender  Age  EstimatedSalary  Purchased
0     Facebook    Male   19            19000          0
1      Twitter    Male   35            20000          0
2    Instagram  Female   26            43000          0
3      Linkdin  Female   27            57000          0
4     Facebook    Male   19            76000          0

## checking for null values

In [11]:
print(social.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Social Media     400 non-null    object
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(3), object(2)
memory usage: 15.8+ KB
None

 satisrical information for data

In [12]:
print(social.describe())

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    40.175000     69742.500000    0.357500
std     31.709511     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     30.000000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max    480.000000    150000.000000    1.000000

 binary conversion

In [13]:
# Converting the categorical variable into numerical
varlist =  ['Gender']

# Defining the map function
def binary_map(x):
    return x.map({'Female': 1, 'Male': 0})

# Applying the function to the housing list
social[varlist] = social[varlist].apply(binary_map)

# Check the housing dataframe now
social

    Social Media  Gender  Age  EstimatedSalary  Purchased
0       Facebook       0   19            19000          0
1        Twitter       0   35            20000          0
2      Instagram       1   26            43000          0
3        Linkdin       1   27            57000          0
4       Facebook       0   19            76000          0
..           ...     ...  ...              ...        ...
395     Facebook       1   46            41000          1
396      Twitter       0   51            23000          1
397    Instagram       1   50            20000          1
398      Linkdin       0   36            33000          0
399     Facebook       1   49            36000          1

[400 rows x 5 columns]

 categorical conversion

In [21]:
status = pd.get_dummies(social['Social Media'], drop_first = True)


social = pd.concat([social, status], axis = 1)


social.drop(['Social Media'], axis = 1, inplace = True)

social

     Gender  Age  EstimatedSalary  Purchased  Instagram  Linkdin  Twitter
0         0   19            19000          0          0        0        0
1         0   35            20000          0          0        0        1
2         1   26            43000          0          1        0        0
3         1   27            57000          0          0        1        0
4         0   19            76000          0          0        0        0
..      ...  ...              ...        ...        ...      ...      ...
395       1   46            41000          1          0        0        0
396       0   51            23000          1          0        0        1
397       1   50            20000          1          1        0        0
398       0   36            33000          0          0        1        0
399       1   49            36000          1          0        0        0

[397 rows x 7 columns]

outliners detection

In [15]:
def detect_outliers_zscore(data):
    outliers = []
    thres = 1
    mean = np.mean(data)
    std = np.std(data)
    #print(mean, std)
    for i in data:
        #print(i)
        z_score = (i-mean)/std
        if (np.abs(z_score) > thres):
            outliers.append(i)
    return outliers# Driver code

In [16]:
sample_outliers_Age = detect_outliers_zscore(social['Age']) 
print("Outliers in Age column from Z-scores method: ", sample_outliers_Age)

Outliers in Age column from Z-scores method:  [480, 270, 370]

In [17]:
from scipy.stats import zscore
z1=np.abs(zscore(social['Age']))
social['Zscore_Age']=z1
outliers_Age=len(social[social['Zscore_Age']>3])
data_z = social[social['Zscore_Age']<3]
social=data_z.drop(['Zscore_Age'], axis=1)
social

    Social Media  Gender  Age  EstimatedSalary  Purchased
0       Facebook       0   19            19000          0
1        Twitter       0   35            20000          0
2      Instagram       1   26            43000          0
3        Linkdin       1   27            57000          0
4       Facebook       0   19            76000          0
..           ...     ...  ...              ...        ...
395     Facebook       1   46            41000          1
396      Twitter       0   51            23000          1
397    Instagram       1   50            20000          1
398      Linkdin       0   36            33000          0
399     Facebook       1   49            36000          1

[397 rows x 5 columns]

 Missing values tratment
# New selection

In [18]:
print(social.isnull().sum())

Social Media       0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

# Data Normalization

In [22]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
social_norm = scaler.fit_transform(social)
social_norm

array([[0.        , 0.02380952, 0.02962963, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.4047619 , 0.03703704, ..., 0.        , 0.        ,
        1.        ],
       [1.        , 0.19047619, 0.20740741, ..., 1.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.76190476, 0.03703704, ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.42857143, 0.13333333, ..., 0.        , 1.        ,
        0.        ],
       [1.        , 0.73809524, 0.15555556, ..., 0.        , 0.        ,
        0.        ]])

# Data Split

In [23]:
from sklearn.model_selection import train_test_split
dataframe = social.values
X, y = dataframe[:, :-1], dataframe[:, -1]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 10)
x_train

array([[     1,     26,  84000,      0,      0,      0],
       [     0,     27,  88000,      0,      1,      0],
       [     1,     44,  39000,      0,      0,      0],
       ...,
       [     0,     29,  80000,      0,      0,      1],
       [     0,     30,  17000,      0,      0,      1],
       [     1,     47, 144000,      1,      1,      0]])

# Thank You