<a href="https://colab.research.google.com/github/anudeeplo3/..2205a42L03/blob/main/PROJECT_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING LIBRARIES**

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**MOUNTING GOOGLE DRIVE**

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**LOAD DATA**

In [7]:
from google.colab import drive
data = pd.read_csv("/content/drive/MyDrive/Data")

In [ ]:
data.head()

,Car,CAR AGE BELOW 10 YRS,selling price,Km driven,fuel type,seller type,transmission,single owner
0,Maruti 800 AC,yes,60000,70000,Petrol,Individual,Manual,yes
1,Maruti Wagon R LXI Minor,yes,135000,50000,Petrol,Individual,Manual,yes
2,Hyundai Verna 1.6 SX,yes,600000,100000,Diesel,Individual,Manual,yes
3,Datsun RediGO T Option,yes,250000,46000,Petrol,Individual,Manual,yes
4,Honda Amaze VX i-DTEC,yes,450000,141000,Diesel,Individual,Manual,No

As the Name of the games doesn't really effect our predictions, we can safely remove them.

In [8]:
data = data.drop(labels='Car', axis=1)

CHECKING FOR NULL VALUES

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CAR AGE BELOW 10 YRS  97 non-null     object
 1   selling price         97 non-null     int64
 2   Km driven             97 non-null     int64
 3   fuel type             97 non-null     object
 4   seller type           97 non-null     object
 5   transmission          97 non-null     object
 6   single owner          97 non-null     object
dtypes: int64(2), object(5)
memory usage: 5.4+ KB

In [10]:
print(data.describe())

       selling price      Km driven
count   9.700000e+01      97.000000
mean    6.630103e+05   66477.546392
std     9.138814e+05   50959.503995
min     6.000000e+04    4500.000000
25%     2.500000e+05   31000.000000
50%     4.500000e+05   60000.000000
75%     7.500000e+05   80000.000000
max     8.150000e+06  350000.000000

**Binary Conversion**

In [11]:
varlist =  ['CAR AGE BELOW 10 YRS']
def binary_map(x):
    return x.map({'yes': 1, 'No': 0})
data[varlist] = data[varlist].apply(binary_map)

varlist1 =  ['single owner']
def binary_map(x):
    return x.map({'yes': 1, 'No': 0})
data[varlist1] = data[varlist1].apply(binary_map)

data

,CAR AGE BELOW 10 YRS,selling price,Km driven,fuel type,seller type,transmission,single owner
0,1,60000,70000,Petrol,Individual,Manual,1
1,1,135000,50000,Petrol,Individual,Manual,1
2,1,600000,100000,Diesel,Individual,Manual,1
3,1,250000,46000,Petrol,Individual,Manual,1
4,1,450000,141000,Diesel,Individual,Manual,0
...,...,...,...,...,...,...,...
92,1,1470000,34000,Diesel,Dealer,Automatic,0
93,1,350000,53000,Diesel,Individual,Manual,0
94,1,2800000,49000,Diesel,Dealer,Automatic,1
95,1,210000,15000,Petrol,Dealer,Manual,0
96,1,450000,50000,Petrol,Individual,Manual,1

**Categorial Conversion**

In [12]:
status = pd.get_dummies(data['fuel type'], drop_first = False)
data = pd.concat([data, status], axis = 1)
data.drop(['fuel type'], axis = 1, inplace = True)
status = pd.get_dummies(data['seller type'], drop_first = False)
data = pd.concat([data, status], axis = 1)
data.drop(['seller type'], axis = 1, inplace = True)
status = pd.get_dummies(data['transmission'], drop_first = False)
data = pd.concat([data, status], axis = 1)
data.drop(['transmission'], axis = 1, inplace = True)
data

,CAR AGE BELOW 10 YRS,selling price,Km driven,single owner,Diesel,Petrol,Dealer,Individual,Automatic,Manual
0,1,60000,70000,1,0,1,0,1,0,1
1,1,135000,50000,1,0,1,0,1,0,1
2,1,600000,100000,1,1,0,0,1,0,1
3,1,250000,46000,1,0,1,0,1,0,1
4,1,450000,141000,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...
92,1,1470000,34000,0,1,0,1,0,1,0
93,1,350000,53000,0,1,0,0,1,0,1
94,1,2800000,49000,1,1,0,1,0,1,0
95,1,210000,15000,0,0,1,1,0,0,1
96,1,450000,50000,1,0,1,0,1,0,1

**DATA SPLIT**

In [13]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(data, train_size = 0.7, test_size = 0.3, random_state = 100)

**Data Normalization**

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Applying scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['selling price', 'Km driven']
df_train[num_vars] = scaler.fit_transform(df_train[num_vars])
df_test[num_vars] = scaler.fit_transform(df_test[num_vars])

df_train

,CAR AGE BELOW 10 YRS,selling price,Km driven,single owner,Diesel,Petrol,Dealer,Individual,Automatic,Manual
21,1,0.097651,0.059334,1,0,1,0,1,0,1
63,1,0.022250,0.199132,0,0,1,1,0,0,1
33,1,0.107540,0.028944,1,0,1,1,0,0,1
89,1,0.066749,0.334298,1,1,0,0,1,0,1
72,1,0.054388,0.334298,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...
79,1,0.048208,0.334298,0,1,0,0,1,0,1
87,1,1.000000,0.005789,1,1,0,1,0,1,0
67,1,0.027194,1.000000,0,1,0,0,1,0,1
24,1,0.023486,0.276411,1,0,1,0,1,0,1
8,1,0.097651,0.059334,1,0,1,0,1,0,1

**Input - Output Data Split**

In [15]:
y_train = df_train.pop('selling price')
X_train = df_train
y_test = df_test.pop('selling price')
X_test = df_test

In [16]:
pd.set_option('max_info_columns', 100)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CAR AGE BELOW 10 YRS  97 non-null     int64
 1   selling price         97 non-null     int64
 2   Km driven             97 non-null     int64
 3   single owner          97 non-null     int64
 4   Diesel                97 non-null     uint8
 5   Petrol                97 non-null     uint8
 6   Dealer                97 non-null     uint8
 7   Individual            97 non-null     uint8
 8   Automatic             97 non-null     uint8
 9   Manual                97 non-null     uint8
dtypes: int64(4), uint8(6)
memory usage: 3.7 KB

**Model Training**

In [17]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [18]:
m = regressor.coef_
c = regressor.intercept_,
print("Estimated model weights, m:" , m)
print("Estimated model intercept, c:" , c)

Estimated model weights, m: [-0.00658965 -0.14764215  0.02187046  0.03830798 -0.03830798  0.01300512
 -0.01300512  0.09034423 -0.09034423]
Estimated model intercept, c: (0.16816647596394357,)

**Prediction on Training and Testing Data**

In [19]:
y_pred_test =  regressor.predict(X_test)
y_pred_train =  regressor.predict(X_train)

**Error Metrics Computation**

In [20]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.09746331243519227
Mean square error 0.009499097270839902
Mean absolute error 0.04407421262446204

In [21]:
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.341038352533497
Mean square error 0.11630715789876178
Mean absolute error 0.27235360613962895

**Save Model**

In [22]:
import pickle
# Save the model
filename = 'model.pkl'
pickle.dump(regressor, open(filename, 'wb'))

**Deployment**

In [25]:
list_of_columns = data.columns
input_data=pd.DataFrame(columns=list_of_columns)
input_data.drop(['selling price'], axis='columns', inplace=True)

input_data.at[0, 'CAR AGE BELOW 10 YRS'] = input('IS IT CAR AGE BELOW 10 YRS =')
input_data.at[0, 'single owner'] = input('IS IT single owner =')
input_data.at[0, 'Diesel'] = input('IS IT Diesel =')
input_data.at[0, 'Petrol'] = input('IS IT Petrol =')
input_data.at[0, 'Dealer'] = input('IS IT Dealer =')
input_data.at[0, 'Individual'] = input('IS IT Individual =')
input_data.at[0, 'Automatic'] = input('IS IT Automatic =')
input_data.at[0, 'Manual'] = input('IS IT Manual =')
input_data.at[0, 'Km driven'] = float(input('Enter Km driven ='))





# Converting the categorical variable into numerical
varlist =  ['CAR AGE BELOW 10 YRS','single owner', 'Diesel', 'Petrol', 'Dealer', 'Individual', 'Automatic', 'Manual']

# Defining the map function
def binary_map(x):
    return x.map({'YES': 1, 'NO': 0})

# Applying the function to the data list
input_data[varlist] = input_data[varlist].apply(binary_map)



input_data['Km driven']=(input_data['Km driven']-data['Km driven'].min())/(data['Km driven'].max()-data['Km driven'].min())



y_pred =regressor.predict(input_data)
Global=y_pred*(data['selling price'].max()-data['selling price'].min())+100*(data['selling price'].min())
print('Predict.ed selling price =',Global)

IS IT CAR AGE BELOW 10 YRS =YES
IS IT single owner =YES
IS IT Diesel =YES
IS IT Petrol =NO
IS IT Dealer =NO
IS IT Individual =NO
IS IT Automatic =YES
IS IT Manual =NO
Enter Km driven =133251
Predict.ed selling price = [8079780.87473488]

In [26]:
model = pickle.load(open('model.pkl', 'rb'))
prediction = model.predict(input_data)
result = prediction[0]
Global=result*(data['selling price'].max()-data['selling price'].min())+100*(data['selling price'].min())
print('SELLING PRICE = ',Global)

SELLING PRICE =  8079780.874734878

**THANK YOU**