<a href="https://colab.research.google.com/github/anudeeplo3/..2205a42L03/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount Google Drive

In [122]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Import Libraries

In [123]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Load Data

In [124]:
dataset = pd.read_csv('/content/drive/MyDrive/used car data2.csv')

In [125]:
dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [126]:
# Checking for null values
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       100 non-null    object
 1   Year           100 non-null    int64
 2   Selling_Price  100 non-null    float64
 3   Present_Price  100 non-null    float64
 4   Kms_Driven     100 non-null    int64
 5   Fuel_Type      100 non-null    object
 6   Seller_Type    100 non-null    object
 7   Transmission   100 non-null    object
 8   Owner          100 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 7.2+ KB
None

In [127]:
print(dataset.describe())

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   100.000000      100.00000     100.000000     100.000000  100.000000
mean   2012.950000        7.53470      13.412900   49106.140000    0.040000
std       3.376613        6.73694      11.728833   32084.871934    0.315268
min    2003.000000        0.35000       2.280000    2071.000000    0.000000
25%    2011.000000        3.32500       6.800000   32321.750000    0.000000
50%    2014.000000        4.92500       9.415000   45000.000000    0.000000
75%    2015.000000        7.75000      18.610000   58431.500000    0.000000
max    2018.000000       35.00000      92.600000  197176.000000    3.000000

In [128]:
#checking the missing values
dataset.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [129]:
dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [130]:
# add a column
dataset['Current Year'] = 2022

In [131]:
dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Current Year
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2022
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2022
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2022
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2022
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2022

In [132]:
dataset['Years Old'] = dataset['Current Year'] - dataset['Year']

In [133]:
dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Current Year,Years Old
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2022,8
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2022,9
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2022,5
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2022,11
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2022,8

In [134]:
dataset = dataset.drop(columns=['Current Year','Year'])

In [135]:
dataset.head()

,Car_Name,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Years Old
0,ritz,3.35,5.59,27000,Petrol,Dealer,Manual,0,8
1,sx4,4.75,9.54,43000,Diesel,Dealer,Manual,0,9
2,ciaz,7.25,9.85,6900,Petrol,Dealer,Manual,0,5
3,wagon r,2.85,4.15,5200,Petrol,Dealer,Manual,0,11
4,swift,4.60,6.87,42450,Diesel,Dealer,Manual,0,8

# Categorical Conversion

In [136]:
dataset.select_dtypes(include='object').columns

Index(['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission'], dtype='object')

In [137]:
# one hot encoding
dataset = pd.get_dummies(data=dataset, drop_first=True)

In [138]:
dataset.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,Years Old,Car_Name_alto 800,Car_Name_alto k10,Car_Name_baleno,Car_Name_camry,Car_Name_ciaz,...,Car_Name_ritz,Car_Name_s cross,Car_Name_swift,Car_Name_sx4,Car_Name_vitara brezza,Car_Name_wagon r,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,8,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
1,4.75,9.54,43000,0,9,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
2,7.25,9.85,6900,0,5,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
3,2.85,4.15,5200,0,11,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
4,4.60,6.87,42450,0,8,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [139]:
dataset.shape

(100, 33)

# Data Split

In [140]:
# matrix of features / independent variables
x = dataset.drop(columns='Selling_Price')

In [143]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Applying scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['Years Old']
df_train[num_vars] = scaler.fit_transform(df_train[num_vars])
df_test[num_vars] = scaler.fit_transform(df_test[num_vars])

df_train

,Present_Price,Owner,Years Old,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
70,6.76,0,0.0,1,0,0,1
78,22.83,0,1.0,0,1,0,0

In [150]:
from sklearn.preprocessing import StandardScaler
SC = StandardScaler()
df_train = SC.fit_transform(df_train)
df_test = SC.transform(df_test)
df_train

array([[-1.,  0., -1.,  1., -1.,  0.,  1.],
       [ 1.,  0.,  1., -1.,  1.,  0., -1.]])

In [155]:
x_train

array([[-1.,  0., -1.,  1., -1.,  0.,  1.],
       [ 1.,  0.,  1., -1.,  1.,  0., -1.]])

In [146]:
x_test

array([[-0.84443062,  0.        ,  1.        , -1.        ,  1.        ,
         0.        , -1.        ],
       [-1.37336652,  0.        , -1.        , -1.        ,  1.        ,
         0.        ,  1.        ],
       [-0.83074051,  0.        , -0.6       , -1.        ,  1.        ,
         0.        ,  1.        ]])

In [159]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,df_train)

LinearRegression()

In [160]:
m = regressor.coef_
c = regressor.intercept_,
print("Estimated model weights, m:" , m)
print("Estimated model intercept, c:" , c)

Estimated model weights, m: [[ 0.2  0.   0.2 -0.2  0.2  0.  -0.2]
 [ 0.   0.   0.   0.   0.   0.   0. ]
 [ 0.2  0.   0.2 -0.2  0.2  0.  -0.2]
 [-0.2  0.  -0.2  0.2 -0.2  0.   0.2]
 [ 0.2  0.   0.2 -0.2  0.2  0.  -0.2]
 [ 0.   0.   0.   0.   0.   0.   0. ]
 [-0.2  0.  -0.2  0.2 -0.2  0.   0.2]]
Estimated model intercept, c: (array([ 8.88178420e-17,  0.00000000e+00, -2.22044605e-17,  2.22044605e-17,
       -2.22044605e-17,  0.00000000e+00,  2.22044605e-17]),)

In [163]:
y_pred_test =  regressor.predict(x_test)
y_pred_train =  regressor.predict(x_train)

In [165]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(x_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(x_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(x_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 1.2234061875101336e-16
Mean square error 1.4967226996380803e-32
Mean absolute error 7.137148015447435e-17

In [166]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(x_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(x_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(x_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.763559029986337
Mean square error 0.5830223922736758
Mean absolute error 0.5902083148131686

In [167]:
import pickle
# Save the model
filename = 'model.pkl'
pickle.dump(regressor, open(filename, 'wb'))

In [170]:
list_of_columns = dataset.columns
input_data=pd.DataFrame(columns=list_of_columns)
input_data.drop(['Selling_Price'], axis='columns', inplace=True)

input_data.at[0, 'Present_price'] = int(input('enter Present_Price'))
input_data.at[0, 'Kms_Driven'] = int(input('enter Kms_Driven'))
input_data.at[0, 'Owner'] = int(input('enter Owner'))
input_data.at[0, 'Fuel_Type_Diesel'] = int(input('enter Fuel_Type_Diesel'))
input_data.at[0, 'Fuel_Type_Petrol'] = input('enter Fuel_Type_Petrol')
input_data.at[0, 'Sellar_Type_Individual'] = input('enter Sellar_Type_Individual')
input_data.at[0, 'Transmission_Manual'] = input('Transmission_Manual')

enter Present_Price1348000
enter Kms_Driven30000
enter Owner1
enter Fuel_Type_Diesel0
enter Fuel_Type_Petrol1
enter Sellar_Type_Individual1
Transmission_Manual0